<!DOCTYPE html>
<html>
  <head>
    <title>Hello from Render And Me</title>
  </head>
  <body>
    <section>
      Hello from Dave <%= locals.testing || "variable undefined" %>
    </section>
  </body>
</html>
`
